@charset "utf-8";
.va{vertical-align: middle;}
.chat-window a{color:#535353;text-decoration: none;}
.chat-window ul{margin:0;padding: 0;}
/*清除浮动*/
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
/*---------- 效果CSS开始 -------------*/
.chat-window{
    position: fixed;
    bottom: 0;
    right: 5px;
    z-index:8;
    display: none;
}

/*拖拽条*/
#dragBar{
    width: 86%;
    height: 40px;
    position: absolute;
    top:0;
    z-index:9;
    cursor:move;
}
.dragContent { width: auto; height: auto; margin: 0 auto; text-align: center;position: relative; }
.chatBox { width: auto; border: 1px #666666 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; height: 444px; margin: 0 auto; position: relative;background: #fff; }
.chatLeft { width: 106px; height: 100%; float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*display: none;*/
}
.chatRight { border-left: 1px #bebebe solid; width: 414px; height: 100%;box-sizing: border-box; float: right; }

.chat01{ height: 300px; }
.chat03_title,.chat01_title {background: linear-gradient(top,#5fd5f5,#4db4d0); background:-webkit-linear-gradient( top,#5fd5f5,#4db4d0);
    background:-moz-linear-gradient( top,#5fd5f5,#4db4d0); border-bottom:1px solid #ddd; height: 40px; position: relative;width: 100%; float: left; }
.chat03_title{border-top-left-radius: 5px;}
.chat01_title{border-top-right-radius: 5px;}
.talkTo { float: left; width:auto; height:30px; margin-top: 5px;margin-left: 8px; }
.talkTo li { float: left; line-height: 30px; margin:0 2px}
.talkTo li a {color:#fff; height: 19px; font-size: 12px; font-weight: bold;text-decoration: none; }
.talk-btns{
    float: right;
    height: 18px;
    margin-right: 5px;
    line-height: 30px;
}
.talk-btns a{
    display: inline-block;
    width: 25px; height: 25px;
    line-height: 25px;
    margin-right: 5px;
    color:#fff;
    font-size: 15px;
    cursor: pointer;
    float: left;
}
.talk-btns a.btn-zoom:hover{color: #d4d4d4;background: rgba(80,80,80,0.2); }
.talk-btns a.close_btn:hover{ background: rgb(206,63,44); }
.close_btn {  }
.chat02_title { background:#f9f9f9; height: 25px; position: relative;border-bottom: 1px solid #ccc; }
.chat02_bar { background: #f9f9f9; border-top: 1px solid #ddd; height: 35px;border-bottom-right-radius: 5px; position: relative; }
.chat02_bar ul { height: 100%;position: absolute;right: 15px; }
.chat02_bar li { line-height: 35px; float: left;color:#666;margin: 0 10px;}
/*.chat03_title_t { position: absolute; padding-left: 25px; top: 8px; left: 20px; display: block; width: auto; height: 15px; font-size: 12px; font-weight: bold; }*/
.chat01_content { /*float: left;*/ width: 100%; height: 260px; overflow-x: hidden; overflow-y: auto; /*resize: vertical;*/ }
.chat02_content { height: auto; }
.chat03{float: left;width: 100%; }
.chat03_content { float: left;text-align: left; width:100%; box-sizing: border-box; font-size: 12px; color: #333; margin: 8px 0px;max-height: 380px;overflow-x: hidden; overflow-y: auto; }
.chat02_content textarea {box-sizing: border-box;-webkit-box-sizing: border-box; border: medium none;
    display: block; width: 100%; height: 81px; overflow-y: auto; padding: 5px; resize: vertical;outline: none; }
.chat03_name { color: #333;  }
.chat03_content ul { }
.chat03_content ul li { position: relative; padding: 3px 6px;width: 100%; height: auto;box-sizing: border-box; _padding-bottom: 0px; }
.chat03_content ul li.hover,
.chat03_content ul li.choosed { background: #ebeef3; }
.chat03_content ul li a {text-overflow: ellipsis;  }
.chat03_content ul img { width: 30px; height: 30px; }
.chat02_title_btn { cursor: pointer; float: left;
    display: block; width: 15px; height: 15px; margin: 5px 6px;font-size: 15px; }
.chat02_title_btn:hover{ color:#31add0;}
.ctb01 {  margin-left: 18px; _margin-left: 8px; }
.ctb02 {width: 21px; }
/*.ctb03 {  }*/
.chat02_title_t {
    float: right;
    margin-right: 10px;
}
.chat02_title_t a { color: #333; font-size: 12px; text-decoration: none; }
.chat02_title_t a:hover { color: #31add0; text-decoration: underline; }
input.f1, input.f2 { display: none; }

.message_box { display: none;  width: 100%;}
.message { border-bottom: 1px solid #EEE; clear: both; padding: 10px 0 10px 0; position: relative; margin: 0px 3px;width: 99%;  }
.message .user-logo { width: 32px; height: 32px; resize: none; display: inline-block;
    box-sizing: border-box;
    border: 1px solid #4db4d0;
    border-radius: 3px;
}
.message .wrap-text {
    display: inline-block;
    min-width: 14px;
    min-height: 26px;
    box-sizing: border-box;
    margin: 3px 12px;
    padding: 5px;
    position: relative;
    max-width: 324px;
    border-radius: 5px;
}
.message .wrap-text.leftTxt{
    background: #d9f9d7;
    border: 1px solid #b9dd83;}
.message .wrap-text.leftTxt:before,
.message .wrap-text.leftTxt:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 6px;
    bottom: auto;
    border-width: 6px 10px 6px 0;
    border-style: solid;
}
.message .wrap-text.leftTxt:before{ left: -11px; border-color: transparent #b9dd83;}
.message .wrap-text.leftTxt:after{ left: -9px; border-color: transparent #d9f9d7; }

.message .wrap-text.rightTxt{
    background: #D3F0F8;
    border: 1px solid #52addc;}
.message .wrap-text.rightTxt:before,
.message .wrap-text.rightTxt:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 6px;
    bottom: auto;
    border-width: 6px 0 6px 10px;
    border-style: solid;
}
.message .wrap-text.rightTxt:before{ right: -11px; border-color: transparent #52addc;}
.message .wrap-text.rightTxt:after{ right: -9px; border-color: transparent #D3F0F8; }

.message .wrap-text div { word-break: break-all; word-wrap: break-word; height: auto; overflow: hidden;text-align: left; }
.message .wrap-ri { text-align: left; width: 100%; overflow: hidden; resize: none; padding: 0 35px; box-sizing: border-box;}
/*.message .wrap-ri div {margin-left: 30px;  color: #999; height: 18px; line-height: 18px; overflow: hidden; clear: both; }*/
.message .wrap-ri span { display: inline-block; line-height: 18px; vertical-align: bottom; zoom: 1; }

.wl_faces_box { background:#ddd; position: absolute; width: 428px; height: 225px; bottom: 22px; left: -50px; display: none;z-index: 5; }
.wl_faces_content { background: #fff; border: 1px #ccc solid; width: 417px; height: 216px; margin: 3px 4px; }
.wl_faces_content .title { background: #fff; height: 35px;  }
.wl_faces_content .title ul {background: #ececec; width: 100%;height: 35px;box-sizing: border-box;padding: 5px 10px 0 10px;}
.wl_faces_content .title ul li { float:left; width: 82px; height: 100%; text-align: center; line-height: 35px;color: #333; }
.wl_faces_content .title ul li.title_name { font-weight: bold;  }
.wl_faces_content .title ul li.faceCur { background: #fff; }
.wl_faces_main { width: 100%;height: 179px;box-sizing: border-box; overflow-x: hidden; overflow-y: auto;}
.wl_faces_main ul {margin: 10px 28px 0 28px; overflow: hidden; border-top: 1px #CCC solid; border-left: 1px #CCC solid; width: 362px; box-sizing: border-box; }
.wl_faces_main ul li { float: left; border-right: 1px #CCC solid; border-bottom: 1px #CCC solid; height: 30px; width: 31px; margin: -1px 0 0 -1px; padding: 4px 2px; text-align: center; }
.wl_faces_main ul li img { width: 22px; height: 22px; position: relative; top: -2px;}
.wlf_icon {  position: absolute; width: 22px; height: 9px; bottom: -4px; _bottom: -11px; left: 61px;  }
.chat03_content li label { display: block; position: absolute; width: 9px; height: 9px; left: 27px; }
label.online { bottom: 4px; _bottom: 2px; }
label.offline { bottom: 4px; _top: 25px; }

.custSer-tit:before{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #fff;
    color: #fbd555;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.custSer:before{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: #fbd555;
    /*color: #555555;*/
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.custSer-self:before{ 
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 22px;
    color: #4db4d0;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
}
.btn-send{
    display: inline-block;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border:1px solid #31add0;
    color:#31add0;
}
.btn-send:hover{background: #ccc; color:#fff;}

.foldBar{
    width: 200px;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 5px;
    z-index: 999;
    border:1px solid #ddd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*line-height: 40px;*/
    box-sizing: border-box;
    background: linear-gradient(top,#5fd5f5,#4db4d0); background:-webkit-linear-gradient( top,#5fd5f5,#4db4d0);
    background:-moz-linear-gradient( top,#5fd5f5,#4db4d0);
    display: none;
}
.foldBtns{float: right;margin-right: 10px;}
.foldBtns span{
    font-size: 25px;
    color: #fff;
    margin: 0 5px;
    line-height: 40px;
    cursor: pointer;
}
.foldBtns span.icon-plus:hover{color: #d4d4d4; background: rgba(80,80,80,0.2);}
.foldBtns span.icon-close:hover{ color: #fff; background: rgb(206,63,44);}
.foldTits{display: inline-block;height: 30px;width: 100%;box-sizing: border-box; cursor: pointer;line-height: 35px; padding-left: 15px;}
.custTit{color: #fff; font-size: 14px;vertical-align: middle;}
.foldTits span.custSer-tit{display: inline-block;width: 30px;height: 30px;vertical-align: middle;}
/* 效果CSS结束 */

/*------------右侧边栏--------------*/

.drawer {
    position: fixed;
    z-index: 5;
    top: 150px;
    right: 100px;
    height: auto;
    /*padding: 15px 0;*/
    background: #31add0;
    color: white;
    text-align: center;
    /* Remove 4px gap between <li> */
}
.drawer > li {
    min-height: 50px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    line-height: 50px;
    /*transform: translateZ(0);*/

}
.drawer > li > a {
    position: relative;
    display: block;
    min-width: 60px;
    min-height: 50px;
    line-height: 50px;
    /* Reset font-size */
    font-size: 14px;
    text-decoration: none;
    color: white;
    /*transition: background 0.3s;*/
}
.drawer p.dra-main{
    display: none;
    background: #4fd8fd;
    position: absolute;
    padding: 5px 5px;
    right: 60px;
    top:0;
    /*display: inline-block;*/
    min-width: 100px;
    min-height: 100%;
    vertical-align: middle;
}
.drawer p.dra-main a{
    display: inline-block;
    color: #fff;
    min-width: 100px;
    float: left;
}
.dra-main a img{float: left;}
.drawer i {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
}
.dra-main > a {
    font-size: 12px;
    line-height: 25px;
}

.drawer > li { display: block;}

.drawer > li a:hover {
    background: #4fd8fd;
}